# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Configs temporales
*.cache
*.log

# Archivos de publicación
*.PublishProfiles/

# Sistema
Thumbs.db
.DS_Store

# NuGet
packages/
*.nupkg
project.lock.json